.navbar {
    margin-bottom: 20px;
  }
  .mt-color{
    background-color: #B3C8CF;
    height: 80px;
  }
  /* .ms-3{
    margin-left: 102rem !important;
  } */
  .nav-link :hover{
color: black;
  }
  .ms{
    background-color: #f29f67;
    margin-left: 98rem;
    border-radius: 10px;
}

  


  