<div class="education" id="education">
    <h2 class="col-12 mt-3 mb-1 text-center text-uppercase">Education Details</h2>
    <hr>
    <div class="vertical-timeline vertical-timeline--animate vertical-timeline--two-columns ml-110">
      <div class="vertical-timeline-element">
        <span class="vertical-timeline-element-icon bounce-in" style="background: rgb(19, 135, 129);">
                 </span>
        <div class="vertical-timeline-element-content bounce-in" style=" color: black;">
          <div class="vertical-timeline-element-content-arrow" style="border-right: 7px solid white;"></div>
          <h3 class="vertical-timeline-element-title">Bachelor of Engineering</h3>
          <h4 class="vertical-timeline-element-subtitle">Goverment Engineering College Ajmer</h4>
          <span class="vertical-timeline-element-date">2016 - 2020</span>
        </div>
      </div>
      <div class="vertical-timeline-element">
        <span class="vertical-timeline-element-icon bounce-in" style="background: rgb(19, 135, 129); color: rgb(255, 255, 255);">
        
        </span>
        <div class="vertical-timeline-element-content bounce-in" style=" color: black;">
          <div class="vertical-timeline-element-content-arrow" style="border-right: 7px solid white;"></div>
          <h3 class="vertical-timeline-element-title">Intermediate</h3>
          <h4 class="vertical-timeline-element-subtitle">College Of Commerce</h4>
          <span class="vertical-timeline-element-date">2015</span>
        </div>
      </div>
      <div class="vertical-timeline-element">
        <span class="vertical-timeline-element-icon bounce-in" style="background: rgb(19, 135, 129); color: rgb(255, 255, 255);">
        
        </span>
        <div class="vertical-timeline-element-content bounce-in" style=" color: black;">
          <div class="vertical-timeline-element-content-arrow" style="border-right: 7px solid white;"></div>
          <h3 class="vertical-timeline-element-title">10 th</h3>
          <h4 class="vertical-timeline-element-subtitle">Gramine High School Chakbairiya</h4>
          <span class="vertical-timeline-element-date">2013</span>
        </div>
      </div>
    </div>
  </div>
  