.education {
    background-color: hsla(0,0%,50%,.101);
    margin: 50px 0 50px 131px;
    padding: 100px 0;
}

.education h2 {
    color: #138781;
    font-weight: 700;
}
.ml-110{
    margin-left: 119px;
}