<div class="containe project">
    <h2 class="col-12 mt-3 mb-1 text-center text-uppercase">TOP RECENT PROJECTS</h2>
    <hr>
    <p class="pb-3 text-center">Explore some of my recent projects showcasing a diverse range of skills and technologies. From full-stack e-commerce platforms to mobile applications, each project reflects my commitment to delivering high-quality software solutions. Take a closer look at the projects below:</p>
    <div class="row" id="ads">
        <div class="col-md-4">
          <div class="card rounded">
            <div class="card-image">
              <span class="card-notify-badge">Full Stack</span>
              <img src="https://unctad.org/sites/default/files/2021-03/2021-03-15_eCommerceCOVID19report-1-1220x675px.jpg" alt="project1">
            </div>
            <div class="card-image-overlay m-auto mt-3">
              <span class="card-detail-badge">Node</span>
              <span class="card-detail-badge">TypeScript</span>
              <span class="card-detail-badge">Angular</span>
              <span class="card-detail-badge">MongoDB</span>
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h6 class="text-uppercase">OnGraph Market Research</h6>
              </div>
              <a class="btn btn-primary" target="_blank" href="http://ogmr.ongraph.com:5000/home">View</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card rounded">
            <div class="card-image">
              <span class="card-notify-badge">Mobile App</span>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR356D-1YtSagN4-_ZdjZ5H9o6PKUO4h12dvw&amp;usqp=CAU" alt="project2">
            </div>
            <div class="card-image-overlay m-auto mt-3">
              <span class="card-detail-badge">Node.js</span>
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5 class="text-uppercase">Flock</h5>
              </div>
              <a class="btn btn-primary" target="_blank">View</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card rounded">
            <div class="card-image">
              <span class="card-notify-badge">Full Stack</span>
              <img src="https://www.nextwebi.com/assets/img/img-source/mobile-top-banner-28.png" alt="project1">
            </div>
            <div class="card-image-overlay m-auto mt-3">
              <span class="card-detail-badge">Angular</span>
              <span class="card-detail-badge">Node</span>
              <span class="card-detail-badge">Express</span>
              <span class="card-detail-badge">NoSQL</span>
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5 class="text-uppercase">Efard</h5>
              </div>
              <a class="btn btn-primary" href="view" target="_blank">View</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 mt-5">
          <div class="card rounded">
            <div class="card-image">
              <span class="card-notify-badge">Full Stack</span>
              <img src="https://www.nextwebi.com/assets/img/img-source/mobile-top-banner-28.png" alt="project1">
            </div>
            <div class="card-image-overlay m-auto mt-3">
              <span class="card-detail-badge">Angular</span>
              <span class="card-detail-badge">Node</span>
              <span class="card-detail-badge">Express</span>
              <span class="card-detail-badge">NoSQL</span>
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5 class="text-uppercase">Real Estate Conference</h5>
              </div>
              <a class="btn btn-primary" href="view" target="_blank">View</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 mt-5">
          <div class="card rounded">
            <div class="card-image">
              <span class="card-notify-badge">Full Stack</span>
              <img src="https://www.nextwebi.com/assets/img/img-source/mobile-top-banner-28.png" alt="project1">
            </div>
            <div class="card-image-overlay m-auto mt-3">
              <span class="card-detail-badge">Angular</span>
              <span class="card-detail-badge">Node</span>
              <span class="card-detail-badge">Express</span>
              <span class="card-detail-badge">NoSQL</span>
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5 class="text-uppercase">Kenya</h5>
              </div>
              <a class="btn btn-primary" href="view" target="_blank">View</a>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 mt-5">
          <div class="card rounded">
            <div class="card-image">
              <span class="card-notify-badge">Full Stack</span>
              <img src="https://www.nextwebi.com/assets/img/img-source/mobile-top-banner-28.png" alt="project1">
            </div>
            <div class="card-image-overlay m-auto mt-3">
              <span class="card-detail-badge">Angular</span>
              <span class="card-detail-badge">Node</span>
              <span class="card-detail-badge">Express</span>
              <span class="card-detail-badge">NoSQL</span>
            </div>
            <div class="card-body text-center">
              <div class="ad-title m-auto">
                <h5 class="text-uppercase">LAR</h5>
              </div>
              <a class="btn btn-primary" href="view" target="_blank">View</a>
            </div>
          </div>
        </div>
      </div>
      
</div>