<div class="work" id="work">
    <div class="container work-exp">
        <h2 class="col-12 mt-3 mb-1 text-center text-uppercase">Work Experience</h2>
        <hr>
        <div class="vertical-timeline vertical-timeline--animate vertical-timeline--two-columns">
            
            <div id="experience1" class="vertical-timeline-element--work vertical-timeline-element">
                <span class="vertical-timeline-element-icon bounce-in" style=" color:#1387812a;">
                    
                </span>
                <div class="vertical-timeline-element-content bounce-in" style=" color: rgb(30, 30, 44);">
                    <div class="vertical-timeline-element-content-arrow" style="border-right: 7px solid #1387812a;"></div>
                    <h3 class="vertical-timeline-element-title">Full Stack Developer</h3>
                    <h4 class="vertical-timeline-element-subtitle">Ongraph Private Limited</h4>
                    <p>Creative Direction, User Experience, Visual Design, Project Management, Team Leading.</p>
                    <span class="vertical-timeline-element-date">2022 - present</span>
                </div>
            </div>
            
            <div id="experience2" class="vertical-timeline-element--work vertical-timeline-element">
                <span class="vertical-timeline-element-icon bounce-in" style="background: rgb(30, 30, 44); color:#1387812a;">
                    
                </span>
                <div class="vertical-timeline-element-content bounce-in" style=" color: rgb(30, 30, 44);">
                    <div class="vertical-timeline-element-content-arrow" style="border-right: 7px solid #1387812a;"></div>
                    <h3 class="vertical-timeline-element-title">Full Stack Developer</h3>
                    <h4 class="vertical-timeline-element-subtitle">Techspawn, pvt ltd</h4>
                    <p>Creative Direction, User Experience, Project Management.</p>
                    <span class="vertical-timeline-element-date">2021 - 2022</span>
                </div>
            </div>
            
          
            
        </div>
    </div>
</div>
